body{
    background-color: rgb(0, 0, 0);
    opacity: var(10%);
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

section{
    padding-top : 3rem;
}

.fullscreen-bg{
        opacity: calc(30%);
        position: fixed;
        height: auto;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
}

.hover:hover{
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
}

@media (min-width: 1024px) {
    .fullscreen-bg {
      height: auto;
      background-repeat: repeat;
    }
}

img:hover{

  transform:scale(1.1);
  transition:all 0.90s ease 0s;
}

.back-to-top {
    color: white;
    background-color: #000000;
    position: fixed;
    visibility: visible;
    opacity: 100;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
    border: 2px solid #030303;
  }

  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }