video {
    opacity: calc(30%);
    position: fixed;
    height: auto;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

section{
    padding-top: 2rem;
}
